{extend name="index/public"}
{block name="productCategory"}

<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">DouPHP 管理中心<b>></b><strong>管理员管理</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Admin/addAdmin')}" class="actionBtn add">添加管理员</a>管理员管理</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <thead>
        <tr>
            <th>管理员名</th>
            <th>电话</th>
            <th>Email</th>
            <th>登陆时间</th>
            <th>登陆ip</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $admin as $k=>$v}
        <tr>
            <td>{$v.admin_name}</td>
            <td>{$v.admin_tel}</td>
            <td>{$v.admin_email}</td>
            <td>{$v.admin_login_time}</td>
            <td>{$v.admin_login_ip}</td>
            <td><a href="{:url('Admin/updateAdmin')}?admin_id={$v.admin_id}">编辑权限</a> | <a href="javascript:void(0)" class="del">删除</a></td>
        </tr>
        {/foreach}

        </tbody>

    </table>
</div>
</div>
<div class="clear"></div>
{/block}