{extend name="index/public"}
{block name="productCategory"}
<script>
    $(function(){
        //展开
//        $("tbody tr[cate_pid!='0']").hide();
//        alert(2);
//        $(".cateShow").toggle(function(){
//            alert(1);
//            var cate_id=$(this).parents("tr").attr("cate_id");
//            $("tbody tr[cate_pid = '"+cate_id+"']").show();
//        },function(){
//            var cate_id=$(this).parents("tr").attr("cate_id");
//            $("tbody tr[cate_pid = '"+cate_id+"']").hide();
//        });
        //显示更多信息
//        $(document).on("click",".moreInfo",function(){
//            //alert(6);
//            var cate_keywords=$(this).attr("cate_keywords");
//            var cate_desc=$(this).attr("cate_desc");
//            layer.tab({
//                area: ['600px', '300px'],
//                tab: [{
//                    title: '更多信息',
//                    content: "<table class='tableBasic'>" +
//                    "<tr><th>分类关键字</th><th>分类描述</th></tr>" +
//                    " <tr>  " +
//                    "<td>"+cate_keywords+"</td> " +
//                    "<td>"+cate_desc+"</td> " +
//                    "</tr>"
//                }]
//            });
//        });
        //删除分类
        $(".del").click(function(){
            var brand_id=parseInt($(this).attr("brand_id"));
            $.ajax({
                type:"post",
                url:"{:url('Productbrand/Delproductbrand')}",
                data:{
                    brand_id:brand_id
                },
                dataType:"json",
                success:function(data){
                    if(data.status==1){
                        window.location.reload();
                    }
                }

            });
        });
    });
</script>
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">DouPHP 管理中心<b>></b><strong>商品品牌</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Productbrand/Addproductbrand')}" class="actionBtn add">添加品牌</a>商品品牌</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
        <thead>
        <tr>
            <th>品牌名称</th>
            <th>品牌logo</th>
            <th>品牌描述</th>
            <th>是否展示</th>
            <th>品牌顺序</th>
            <th>品牌网址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $brand as $k=>$v}
        <tr>
            <td>{$v.brand_name}</td>
            <td><img src="{$v.brand_logo}" alt=""></td>
            <td>{$v.brand_desc}</td>
            <td>
                {eq name="$v.brand_status" value="1"}展示{else/}不展示{/eq}
            </td>
            <td>{$v.brand_order}</td>
            <td>{$v.brand_url}</td>
            <td><a href="{:url('Productbrand/Updateproductbrand')}?brand_id={$v.brand_id}">编辑</a> | <a href="javascript:void(0)" class="del" brand_id="{$v.brand_id}">删除</a></td>
        </tr>
        {/foreach}
        </tbody>

    </table>
</div>
</div>
<div class="clear"></div>
{/block}